.section-title {
    margin: var(--space-xl-hh) var(--page-margin-hh) var(--space-md-hh);
    padding-bottom: var(--space-sm-hh);
    border-bottom: 1px solid var(--color-neutral-hh);
}

.typography {
    padding: 0 var(--page-margin-hh);
    margin: var(--space-lg-hh) 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-md-hh);
}

.spacers,
.icons,
.colors,
.borders {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--grid-gap-hh);
    padding: 0 var(--page-margin-hh);
    margin-bottom: var(--space-3xl-hh);
}

.spacer,
.icon,
.color,
.border {
    position: relative;
}

.spacer > p,
.icon > p,
.color > p,
.border > p {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0;
    transform: translate(-50%, 100%);
    padding: var(--space-xs-hh) 0;
    text-align: center;
}

/* Spacers */

.spacer {
    aspect-ratio: 1 / 1;
    border: 1px dashed var(--color-subdued-hh);
    width: var(--spacer-size-hh);
    height: var(--spacer-size-hh);
    margin-bottom: var(--space-md-hh);
}

.space-3xl {
    --spacer-size-hh: var(--space-3xl-hh);
}

.space-2xl {
    --spacer-size-hh: var(--space-2xl-hh);
}

.space-xl {
    --spacer-size-hh: var(--space-xl-hh);
}

.space-lg {
    --spacer-size-hh: var(--space-lg-hh);
}

.space-md {
    --spacer-size-hh: var(--space-md-hh);
}

.space-sm {
    --spacer-size-hh: var(--space-sm-hh);
}

.space-xs {
    --spacer-size-hh: var(--space-xs-hh);
}

.space-2xs {
    --spacer-size-hh: var(--space-2xs-hh);
}

/* Icons */

.icon {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.icon > svg {
    width: 100%;
}

.icon-size-lg {
    width: var(--icon-size-lg-hh);
}

.icon-size-md {
    width: var(--icon-size-md-hh);
}

.icon-size-sm {
    width: var(--icon-size-sm-hh);
}

/* Colors */

.color {
    width: var(--space-2xl-hh);
    height: var(--space-2xl-hh);
    border: 1px solid var(--color-neutral-hh);
    border-radius: var(--border-radius-round-hh);
}

.color-brand-primary {
    background-color: var(--color-brand-primary-hh);
}

.color-brand-secondary {
    background-color: var(--color-brand-secondary-hh);
}

.color-brand-tertiary {
    background-color: var(--color-brand-tertiary-hh);
}

.color-ink {
    background-color: var(--color-ink-hh);
}

.color-subdued {
    background-color: var(--color-subdued-hh);
}

.color-neutral {
    background-color: var(--color-neutral-hh);
}

.color-light {
    background-color: var(--color-light-hh);
}

.color-reverse {
    background-color: var(--color-reverse-hh);
}

/* Borders */

.border {
    background-color: var(--color-neutral-hh);
    width: var(--space-2xl-hh);
    height: var(--space-2xl-hh);
}

.border-round {
    border-radius: var(--border-radius-round-hh);
}

.border-lg {
    border-radius: var(--border-radius-lg-hh);
}

.border-md {
    border-radius: var(--border-radius-md-hh);
}

.border-sm {
    border-radius: var(--border-radius-sm-hh);
}