* {   
    --font-size-range-hh: calc( var(--font-size-desktop-hh) - var(--font-size-mobile-hh) ); /* The range between mobile and desktop font sizes */
    --fluid-font-size-hh: calc( var(--font-size-range-hh) * var(--viewport-percent-hh) + (var(--font-size-mobile-hh)) * 1px ); /* A normalization equation that takes the range in font size and maps it between mobile width and desktop width */
}

:root {

    /* Fluid Scaling */
    --viewport-desktop-hh: 1440; /* The width of the desktop designs in Figma */
    --viewport-mobile-hh: 400; /* The width of the mobile designs in Figma */
    --viewport-range-hh: calc( var(--viewport-desktop-hh) - var(--viewport-mobile-hh) ); /*The range between mobile and desktop viewport sizes */
    --viewport-percent-hh: calc( (100vw - (var(--viewport-mobile-hh) * 1px)) / var(--viewport-range-hh) ); /* How wide the current viewport is, relative to the mobile and desktop viewport sizes */

    /* Color */
    --color-brand-primary-hh: #ff5c01;
    --color-brand-secondary-hh: #abc4ca;
    --color-brand-tertiary-hh: #c1e0d8;

    --color-ink-hh: #000000;
    --color-subdued-hh: #666666;
    --color-neutral-hh: #b8b8b8;
    --color-light-hh: #f6f6f6;
    --color-reverse-hh: #ffffff;

    --color-danger-hh: #ec0000;
    --color-focus-hh: #0038ff;
    --color-overlay-hh: rgba(0, 0, 0, 0.1);
    --color-success-hh: #25b900;

    /* Typography */
    --font-family-heading-hh: 'Teodor', Georgia, 'Times New Roman', Times, serif;
    --font-family-body-hh: 'Neue Montreal', Arial, Helvetica, sans-serif;
    --font-family-utility-hh: 'Neue Montreal', Arial, Helvetica, sans-serif;

    --h1-font-size-desktop-hh: 86; /* Font size in pixels from desktop designs */
    --h1-font-size-mobile-hh: 46; /* Font size in pixels from mobile designs */
    --h1-line-height-hh: 1.03; /* Line height uses percentages from Figma divided by 100 */
    --h1-letter-spacing-hh: -0.02em; /* This is calculated by dividing desktop letter-spacing (px) by desktop font-size */
    --h1-font-weight-hh: 300; /* This value is arbitrary but must match one of the weights defined in your font import */ 
    --h1-font-family-hh: var(--font-family-heading-hh);
    --h1-text-transform-hh: none;

    --h2-font-size-desktop-hh: 64;
    --h2-font-size-mobile-hh: 40;
    --h2-line-height-hh: 1.1;
    --h2-letter-spacing-hh: -0.125rem;
    --h2-font-weight-hh: 300;
    --h2-font-family-hh: var(--font-family-heading-hh);
    --h2-text-transform-hh: none;

    --h3-font-size-desktop-hh: 46;
    --h3-font-size-mobile-hh: 32;
    --h3-line-height-hh: 1.1;
    --h3-letter-spacing-hh: -0.1rem;
    --h3-font-weight-hh: 300;
    --h3-font-family-hh: var(--font-family-heading-hh);
    --h3-text-transform-hh: none;

    --h4-font-size-desktop-hh: 34;
    --h4-font-size-mobile-hh: 26;
    --h4-line-height-hh: 1.2;
    --h4-letter-spacing-hh: 0;
    --h4-font-weight-hh: 400;
    --h4-font-family-hh: var(--font-family-heading-hh);
    --h4-text-transform-hh: none;
    
    --h5-font-size-desktop-hh: 26;
    --h5-font-size-mobile-hh: 20;
    --h5-line-height-hh: 1.33;
    --h5-letter-spacing-hh: -0.0625rem;
    --h5-font-weight-hh: 400;
    --h5-font-family-hh: var(--font-family-heading-hh);
    --h5-text-transform-hh: none;
    
    --h6-font-size-desktop-hh: 20;
    --h6-font-size-mobile-hh: 16;
    --h6-font-size-hh: 1.3;
    --h6-line-height-hh: 1.33;
    --h6-letter-spacing-hh: 0;
    --h6-font-weight-hh: 400;
    --h6-font-family-hh: var(--font-family-heading-hh);
    --h6-text-transform-hh: none;
    
    --body-font-size-desktop-hh: 14;
    --body-font-size-mobile-hh: 14;
    --body-line-height-hh: 1.4;
    --body-letter-spacing-hh: 0;
    --body-font-weight-hh: 400;
    --body-font-family-hh: var(--font-family-body-hh);
    --body-text-transform-hh: none;
    --body-margin-bottom: 1em;
    
    --caption-font-size-desktop-hh: 10;
    --caption-font-size-mobile-hh: 10;
    --caption-line-height-hh: 1.16;
    --caption-letter-spacing-hh: 0;
    --caption-font-weight-hh: 400;
    --caption-font-family-hh: var(--font-family-body-hh);
    --caption-text-transform-hh: none;
    --caption-margin-bottom: 1em;
    
    --utility-font-size-desktop-hh: 12;
    --utility-font-size-mobile-hh: 12;
    --utility-line-height-hh: .85;
    --utility-letter-spacing-hh: 0.15rem;
    --utility-font-weight-hh: 700;
    --utility-font-family-hh: var(--font-family-utility-hh);
    --utility-text-transform-hh: uppercase;

    /* Spacing Tokens */
    --space-3xl-desktop-hh: 120;
    --space-3xl-mobile-hh: 80;
    --space-3xl-hh: calc( (var(--space-3xl-desktop-hh) - var(--space-3xl-mobile-hh)) * var(--viewport-percent-hh) + (var(--space-3xl-mobile-hh)) * 1px );

    --space-2xl-desktop-hh: 80;
    --space-2xl-mobile-hh: 60;
    --space-2xl-hh: calc( (var(--space-2xl-desktop-hh) - var(--space-2xl-mobile-hh)) * var(--viewport-percent-hh) + (var(--space-2xl-mobile-hh)) * 1px );

    --space-xl-desktop-hh: 60;
    --space-xl-mobile-hh: 40;
    --space-xl-hh: calc( (var(--space-xl-desktop-hh) - var(--space-xl-mobile-hh)) * var(--viewport-percent-hh) + (var(--space-xl-mobile-hh)) * 1px );

    --space-lg-desktop-hh: 45;
    --space-lg-mobile-hh: 30;
    --space-lg-hh: calc( (var(--space-lg-desktop-hh) - var(--space-lg-mobile-hh)) * var(--viewport-percent-hh) + (var(--space-lg-mobile-hh)) * 1px );

    --space-md-desktop-hh: 30;
    --space-md-mobile-hh: 20;
    --space-md-hh: calc( (var(--space-md-desktop-hh) - var(--space-md-mobile-hh)) * var(--viewport-percent-hh) + (var(--space-md-mobile-hh)) * 1px );

    --space-sm-desktop-hh: 20;
    --space-sm-mobile-hh: 15;
    --space-sm-hh: calc( (var(--space-sm-desktop-hh) - var(--space-sm-mobile-hh)) * var(--viewport-percent-hh) + (var(--space-sm-mobile-hh)) * 1px );

    --space-xs-desktop-hh: 10;
    --space-xs-mobile-hh: 10;
    --space-xs-hh: calc( (var(--space-xs-desktop-hh) - var(--space-xs-mobile-hh)) * var(--viewport-percent-hh) + (var(--space-xs-mobile-hh)) * 1px );

    --space-2xs-desktop-hh: 5;
    --space-2xs-mobile-hh: 5;
    --space-2xs-hh: calc( (var(--space-2xs-desktop-hh) - var(--space-2xs-mobile-hh)) * var(--viewport-percent-hh) + (var(--space-2xs-mobile-hh)) * 1px );

    /* Spacing Utilities */
    --page-margin-hh: var(--space-xl-hh);
    --grid-gap-hh: var(--space-lg-hh);

    /* Border */
    --border-radius-sm-hh: 2px;
    --border-radius-md-hh: 8px;
    --border-radius-lg-hh: 20px;
    --border-radius-round-hh: 100vw;

    /* Icons */
    --icon-size-lg-hh: 1.5rem;
    --icon-size-md-hh: 1rem;
    --icon-size-sm-hh: 0.625rem;

}


/* On larger screen we just scale the desktop values by how much larger viewport is than desktop viewport */
@media screen and (min-width: 1440px) {
    * {
        --fluid-font-size-hh: calc( var(--font-size-desktop-hh) * 100vw / var(--viewport-desktop-hh) );
    }

    :root {
        --space-3xl-hh: calc( var(--space-3xl-desktop-hh) * 100vw / var(--viewport-desktop-hh) );
        --space-2xl-hh: calc( var(--space-2xl-desktop-hh) * 100vw / var(--viewport-desktop-hh) );
        --space-xl-hh: calc( var(--space-xl-desktop-hh) * 100vw / var(--viewport-desktop-hh) );
        --space-lg-hh: calc( var(--space-lg-desktop-hh) * 100vw / var(--viewport-desktop-hh) );
        --space-md-hh: calc( var(--space-md-desktop-hh) * 100vw / var(--viewport-desktop-hh) );
        --space-sm-hh: calc( var(--space-sm-desktop-hh) * 100vw / var(--viewport-desktop-hh) );
        --space-xs-hh: calc( var(--space-xs-desktop-hh) * 100vw / var(--viewport-desktop-hh) );
        --space-2xs-hh: calc( var(--space-2xs-desktop-hh) * 100vw / var(--viewport-desktop-hh) );
    }
}